@font-face {
    font-family: Manuale;
    src: url("../../public/static/fonts/Manuale/Manuale-Medium.ttf")
}

.change-data-form{
    margin-top: 50px;
    width: 1280px;
    height: 720px;
    display: block;
    flex-direction: column;
    margin-left: 425px;
}
.change-data-form__avatar{
    position: relative;
    width: 98px;
    height: 99px;
    margin-top: 24px;
    margin-bottom: 77px;
    margin-left: 170px;
    font-family: "Manuale", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.change-data-form__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 98px;
    height: 99px;
}

.change-data-form__link-hide{
    display: flex;
    align-items: center;
    position: absolute;
    width: 98px;
    height: 99px;
    border-radius: 50%;
    text-align: center;
    background-color: #868686;
    color: white;
    opacity: 0;
    transition: opacity 0.2s ease; /* Animation */
    text-decoration: underline;
}

.change-data-form__avatar:hover .change-data-form__link-hide{
    opacity: 1;
}

.change-data-form__label{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #999999;
}

.change-data-form__input{
    width: 430px;
    padding: 5px;
    margin-bottom: 47px;
    border: none;
    border-bottom: 1px solid black ;
}

.change-data-form__error-message{
    display: none;
    color: #DF6058;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 10px;
}

.change-data-form__input + .change-data-form__error-message{
    display: block;
}

.change-data-form__input:focus {
    outline: none;
}

.change-data-form__button{
    display: block;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 70px;
    width: 280px;
    height: 40px;
    background-color: #1D90D1;
    color: white;
    border: 1px solid #1D90D1;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.change-data-form__btn-back{
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-bottom: 205px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
    background: none;
}
