@font-face {
    font-family: Manuale;
    src: url("../../public/static/fonts/Manuale/Manuale-Medium.ttf")
}

.change-password-form{
    margin-top: 50px;
    width: 1280px;
    height: 720px;
    display: block;
    flex-direction: column;
    margin-left: 425px;
}

.change-password-form__img{
    margin-top: 90px;
    margin-bottom: 88px;
    margin-left: 156px;
    width: 98px;
    height: 99px;

}

.change-password-form__label{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #999999;
    margin-bottom: 35px;
}

.change-password-form__input{
    width: 430px;
    padding: 5px;
    margin-bottom: 47px;
    border: none;
    border-bottom: 1px solid black ;
}

.change-password-form__input:focus {
    outline: none;
}

.change-password-form__error-message{
    display: none;
    color: #DF6058;
    font-family: "Manuale", sans-serif;
    font-weight: 500;
    font-size: 11px;
    margin-bottom: 10px;
}

.change-password-form__input + .change-password-form__error-message{
    display: block;
}

.change-password-form__button{
    display: block;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 70px;
    width: 280px;
    height: 40px;
    background-color: #1D90D1;
    color: white;
    border: 1px solid #1D90D1;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.change-password-form__btn-back{
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-bottom: 5px;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    border: none;
    background: none;
}