@font-face {
    font-family: Manuale;
    src: url("../../public/static/fonts/Manuale/Manuale-Medium.ttf")
}

.registration-form {
    width: 400px;
    height: 740px;
    margin: 118px auto;
    padding: 20px;
    border: 1px solid #1D90D1;
    border-radius: 20px;
}

.registration-form-title {
    text-align: center;
    margin-bottom : 21px;
    font-family: Manuale, sans-serif;
    font-weight: 500;
}

.registration-form-label {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #999;
    display: block;
    margin: 0;
    padding: 0;
}


.registration-form-input {
    width: 390px;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 8px;
    border: none;
    border-bottom: 1px solid black ;
}

.registration-form-error-message{
    left: 0;
    margin: -28px 0 0 ;
    display: block;
    color: #DF6058;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 11px;
    padding: 0;
    background-color: white;
}

.registration-form-button {
    position: absolute;
    display: block;
    margin: 30px auto 30px 55px;
    padding: 0;
    width: 280px;
    height: 40px;
    background-color: #1D90D1;
    color: white;
    border: 1px solid #1D90D1;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}

.registration-form-login {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: black;
    margin-top: 80px;
}

.form-toggle{
    position: relative;
    background: none;
    border: none;
    margin-left: 393px;
    bottom: 51px;
    height: 0;
    color: #575757;
}
