@font-face {
    font-family: Manuale;
    src: url("../../public/static/fonts/Manuale/Manuale-Medium.ttf")
}

.change-data-form{
    margin-top: 100px;
    max-width: 850px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.change-data-form__label{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #999999;
}

.form__input-message-error{
    position: relative;
}

.change-data-form__input{
    width: 430px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 47px;
    border: none;
    border-bottom: 1px solid black ;
}

.change-data-form__input:focus {
    outline: none;
}

.change-data-form__error-message{
    position: absolute;
    left: 0;
    margin: -35px 0 0 0;
    color: #DF6058;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 11px;
    padding: 0;
}

.change-data-form__input + .change-data-form__error-message{
    display: block;
}

.change-data-form__input:focus {
    outline: none;
}

.change-data-form__button{
    display: block;
    margin-top: 51px;
    width: 280px;
    height: 40px;
    background-color: #1D90D1;
    color: white;
    border: 1px solid #1D90D1;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}
