@font-face {
    font-family: Manuale;
    src: url("../../public/static/fonts/Manuale/Manuale-Medium.ttf")
}

.login-form {
    width: 380px;
    height: 490px;
    margin: 118px auto;
    padding: 20px;
    border: 1px solid #1D90D1;
    border-radius: 20px;
}

.login-form-title {
    text-align: center;
    margin-bottom : 42px;
    font-family: Manuale, sans-serif;
    font-weight: 500;
}

.login-form-label {
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #999;
    display: block;
    margin-bottom: 0;
}

.login-form-input {
    width: 375px;
    padding: 0;
    margin-bottom: 52px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid black ;
}

.login-form-error-message{
    left: 0;
    margin: -40px 0 0 ;
    display: block;
    color: #DF6058;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 11px;
    padding: 0;
    background-color: white;
}


.login-form-forgot-password {
    display: block;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 73px;
    color: #1D90D1;
}

.login-form-button {
    display: block;
    margin: auto;
    width: 280px;
    height: 40px;
    background-color: #1D90D1;
    color: white;
    border: 1px solid #1D90D1;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}

.login-form-registration {
    display: flex;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: black;
    margin-top: 10px;
}

.form-toggle{
    position: relative;
    background: none;
    border: none;
    margin-left: 375px;
    bottom: 72px;
    height: 0;
    color: #575757;
}
