@font-face {
    font-family: Manuale;
    src: url("../../public/static/fonts/Manuale/Manuale-Medium.ttf")
}

.change-password-form{
    margin-top: 100px;
    max-width: 850px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.change-password-form-label{
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #999;
    display: block;
    margin-bottom: 0;
}

.form-input-message-error{
    position: relative;
}

.change-password-form-input{
    position: relative;
    width: 430px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 47px;
    border: none;
    border-bottom: 1px solid black ;
}

.change-password-form-input:focus {
    outline: none;
}

.change-password-form-error-message{
    position: absolute;
    margin: -65px 0 0;
    color: #DF6058;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 11px;
    padding: 0;
    width: 430px;
}


.change-password-form-button{
    display: block;
    margin-top: 92px;
    width: 280px;
    height: 40px;
    background-color: #1D90D1;
    color: white;
    border: 1px solid #1D90D1;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}

.form-toggle{
    position: relative;
    background: none;
    border: none;
    margin-left: 375px;
    bottom: 72px;
    height: 0;
    color: #575757;
}